/**
 * @name HideButtons
 * @description Hides buttons on the discord chat bar
*/

:root {
  /* show: show | hide: none */
  --emojibuttonshow: show;
  --stickerbuttonshow: none;
  --giftbuttonshow: none;
  --gifbuttonshow: none;
}

.emojiButton_d0696b { display: var(--emojibuttonshow); }
.stickerButton_d0696b { display: var(--stickerbuttonshow); }
button[aria-label="Send a gift"] { display: var(--giftbuttonshow); !important; }
button[aria-label="Open GIF picker"] { display: var(--gifbuttonshow); !important; 
}
